body {
  background-color: rgb(198, 210, 222);
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 0.25fr;
  grid-template-areas:
    "header header"
    "images info"
    "form form";
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-top: -20px;
  width: auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.imgur.com/pzZkH9W.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bangers";
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

main {
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
}

#form {
  grid-area: form;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 10px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-family: "Bebas Neue";
}

button {
  margin-bottom: 10px;
  height: 30px;
  width: 150px;
}

#image {
  grid-area: images;
}

.image {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}
@media only screen and (max-width: 826px) {
  h1 {
    color: whitesmoke;
  }
  /* header {
    background-size: contain;
  } */
}
@media only screen and (max-width: 600px) {
  body {
    height: 90vh;
    /* background-color: green; */
  }
  header {
    grid-area: header;
    height: 35vh;
    /* background-size: contain; */
  }

  #image {
    grid-area: images;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  h1 {
    color: whitesmoke;
    font-size: 70px;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }
  img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 0px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr 0.75fr 0.25fr;
    grid-template-areas:
      "header"
      "images"
      "info"
      "form";
  }
}
@media only screen and (max-width: 379px) {
  h1 {
    font-size: 50px;
  }
  .image {
    margin-top: 20px;
  }
}
