body {
  background-color: rgb(198, 210, 222);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 0.25fr;
  grid-template-areas:
    "header header"
    /* "button button" */
    "images info"
    "form form";
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-top: -20px;
  width: auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.imgur.com/pzZkH9W.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bangers";
}

main {
  /* background-color: green; */
  /* align-items: left; */
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
}

#form {
  grid-area: form;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  /* background-color: red; */
}

img {
  /* max-width: 200px; */
  max-height: 300px;
  /* min-height: 250px; */
  max-width: 300px;
  margin-bottom: 10px;
}

h1 {
  font-size: 100px;
  /* text-align: left; */
  /* border: 10px red; */
}

h2 {
  font-family: "Bebas Neue";
}

button {
  /* grid-area: button; */
  margin-bottom: 10px;
  height: 30px;
  width: 150px;
  /* display: flex; */
  /* align-self: flex-end; */
  /* justify-self: center; */
  /* flex-direction: column-reverse; */
  /* justify-content: center; */
}

#image {
  grid-area: images;
  /* background-color: aqua; */
}

/* .info {
  background-color: blue;
} */

.image {
  display: flex;
  /* background-color: yellow; */
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}
@media only screen and (max-width: 826px) {
  h1 {
    color: whitesmoke;
  }
}
@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    /* background-color: green; */
  }
  header {
    grid-area: header;
    height: 35vh;
    background-size: cover;
  }

  #image {
    grid-area: images;
  }
  main {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  h1 {
    color: whitesmoke;
  }
  .image {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr 0.75fr 0.25fr;
    grid-template-areas:
      "header"
      "images"
      "info"
      "form";
  }
}
