body {
  background-color: rgb(151, 168, 185);
}

header {
  text-align: center;
}

main {
  text-align: center;
}

form {
  text-align: center;
  bottom: auto;
}

/* image {
  max-width: 500px;
} */

h1 {
  font-size: 100px;
}
